.faq{
    @include flex(column,nowrap,center,center);
    width: 100%;
    margin-bottom: 30px;
    font-family: $font-main;
    
}

.acordeon{
    width: 80%;
    
}



.accordion{
    box-shadow: -5px 5px 0px black;
    border: 1px solid black;
    --bs-accordion-btn-color: black ;
    --bs-accordion-bg: white  ;
    --bs-accordion-btn-active-bg: white ;
    --bs-accordion-btnn-active-color:white ;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-active-bg: black;
    --bs-accordion-active-color:white;
}