.body_galeria{
    background-image: url("../asset/img/background_04.jpg");
    background-size: cover;
}


.card_galeria{
    height: auto    ;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $color-principal;
    margin-bottom: 30px;
    @include flex(column,wrap,space-evenly,center);
    box-shadow: -5px 5px 0px $color-principal;
    nav{
        margin-top: 5px;
        --bs-nav-link-color: black;
        button{
            @include margin(0px,5px,0px,5px);
            color: black;
            &:hover{
                color: black;
            }
        }
        .nav-pills{
            color: black;
            --bs-nav-pills-link-active-color: white;
            --bs-nav-pills-link-active-bg: black;
        }
    }

}

.contenido_card{
    img{
        width: 100%;
        border-radius: 20px;
        max-height: 300px;
        box-shadow: -1px 1px 5px black;
    }
}

.galeria{
    font-family: $font-main;
    margin-bottom: 30px;
    h1{
        text-align: center;
        margin-top: 50px
    }
    .fila{
        @include flex (row,wrap,center,center);
        gap: 1.875rem;

        figure{
            margin: 20px;
            width: 300px;
            img{
                width: 100%;
                border-radius: 20px;
                box-shadow: 0px 0px 5px $color-principal;
            }
        }
    }
    h3{
        text-align: center;
        @include margin(20px,0px,20px,0px);
    }
}
