.nosotros{
    img{
        width: 200px;
    }
    @include flex(column,wrap,center,center);
    gap: .625rem;
    font-family: $font-main;
    color: $color-principal;
    article{
        padding: 10px;
        margin-bottom: 20px;
        @include flex(column,wrap,center,center);
        gap: .9375rem;
        .contenedor_nosotros{
            @include flex(row,wrap,space-around,center);
            width: 100%;
            .texto_nosotros{
                border-bottom: 2px solid $color-principal;
            }
            img{
                width: 400px;
            }
        }
    }
}

.texto_nosotros{
    width: 300px;
}