.que_hacemos{
    @include flex (column,nowrap,center,center);
    gap: .625rem;
    background-image: url("../asset/img/background_04.jpg");
    background-size: cover;
    background-color: $color-principal;
    
    padding-bottom: 20px;
    h1{
        font-family: $font-main;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 700;
        color: $color-principal;

    }
    .contenedor_hacemos{
        margin-bottom: 50px;
    }
    
}

.card_hacemos{
    @include flex(row,nowrap,center,center);
    height: 180px;
    // border: 10px solid $color-secundario;   
    color: $color-tres;
    font-weight: 700;
    text-shadow: -1px 1px 0px $color-principal;
    font-family: $font-main;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px $color-principal;
    gap: .625rem;
}

.card_hacemos_1{
    background-image: url("../asset/img/griferia.jpg");
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/griferia.jpg");
}
.card_hacemos_2{
    @extend .card_hacemos_1;
    background-image: url("../asset/img/pintura.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/pintura.jpg");
}
.card_hacemos_3{
    @extend .card_hacemos_1;
    background-image: url("../asset/img/piso.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/piso.jpg");
}

.card_hacemos_4{
    @extend .card_hacemos_1;
    background-image: url("../asset/img/electrico.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/electrico.jpg");
}
